# Fichiers Python compilés
*.pyc
*.pyo
*.pyd
__pycache__/
*.pyo

# Environnements virtuels
venv/
env/
ENV/
*.env
*.venv

# Fichiers de configuration IDE/Éditeur
.idea/
.vscode/
*.swp
*.sublime-project
*.sublime-workspace

# Logs et fichiers temporaires
*.log
*.tmp
*.bak
*.swp
*.DS_Store
Thumbs.db

# Fichiers générés par Pygame
*.py~  # Sauvegardes
*.txt  # Logs ou données temporaires si générés
*.wav  # Si non versionné intentionnellement
*.png  # Ressources si non versionnées intentionnellement

# Installeur
build
dist
*.spec